/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{ 
  overflow-x: hidden;
}
h1,h2,h3,h4,h5{
  font-family: @nmfh-font-headers;
}
h1{
  margin-bottom: 20px;
  color: @nmfh-maroon;
  text-transform: uppercase;
}
h2{
  color: @nmfh-maroon;
  text-transform: uppercase;
  font-size: 26px;
}
h3{
  color: @nmfh-maroon;
  text-transform: uppercase;
  font-size: 20px;
  &.event_time{
    margin-top: 10px;
  }
  &.faq_question{
    text-transform: none;
    font-family: Arial, sans-serif;
  }
}
h4{
  color: @nmfh-gray-dark;
  border-bottom: 1px solid @nmfh-gray-dark;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-right: 20px;
  text-transform: uppercase;
  display: inline-block;
}
p{
  font-size: 14px;
  line-height: 26px;
  &.pagetitle{
    font-family: @nmfh-font-headers;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: @nmfh-maroon;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
}

a.btn,
input.btn{
  display: inline-block;
  font-family: @nmfh-font-nimbus;
  text-transform: uppercase;
  background-color: @nmfh-green;
  border-bottom: 2px solid @nmfh-green-dark;
  border-radius: 3px;
  color: #fff !important;
  padding: 5px 10px;
  text-decoration: none;
  &:hover{
    color: #fff;
    background-color: darken(@nmfh-green, 5%);
  }
  &.btn-yellow{
    background-color: @nmfh-yellow;
    border-bottom: 2px solid @nmfh-yellow-dark;
    &:hover{
      background-color: darken(@nmfh-yellow, 5%);
    }
  }
  &.btn-maroon{
    background-color: @nmfh-maroon;
    border-bottom: 2px solid darken(@nmfh-maroon, 5%);
    &:hover{
      background-color: darken(@nmfh-maroon, 3%);
    }
  }
  &.btn-beige{
    background-color: @nmfh-peach;
    color: lighten(@nmfh-maroon, 5%) !important;
    border-bottom: 2px solid @nmfh-yellow;
    &:hover{
      background-color: darken(@nmfh-peach, 5%);
    }
  }
}

hr.landau{
  background: url('/assets/img/elements/footer_landau.svg') center center no-repeat white;
  border: none;
  height: 15px;
  margin-bottom: 0;
  margin-top: 30px;
}

/* ======================================== Start Snap Drawers  ======================================== */
#content_container {
  background-color: white;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid gray;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.snap-trigger-left{
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}
.snap-trigger-left .menu-icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: white;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.snap-trigger-left .menu-icon::before, .snap-trigger-left .menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.snap-trigger-left .menu-icon::before {
  top: -5px;
}
.snap-trigger-left .menu-icon::after {
  top: 5px;
}
.snap-trigger-left .menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.snap-trigger-left .menu-icon.is-clicked::before, .snap-trigger-left .menu-icon.is-clicked::after {
  background-color: white;
}
.snap-trigger-left .menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.snap-trigger-left .menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

.snap-drawers{
  display: none;
  background: white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .snap-drawer{
    background: @nmfh-maroon;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
        &.active a{
          background-color: darken(@nmfh-maroon,5%);
        }
        &.here{
          a{
            color: #fff;
          }
          ul li a,
          ul li a:hover,
          ul li a:active,
          ul li a:visited{
            color: #fff;
            background-color: @nmfh-maroon;
            text-transform: capitalize;
          }
          ul li.active a{
            color: #fff;
            background-color: darken(@nmfh-maroon,5%);
          }
        }
        ul{
          li{
            a{
              color: #fff;
              padding-left: 30px;
              font-weight: normal;
            }
            &.active a{
              color: #fff;
            }
          }
        }
        a{
          color: #fff;
          display: block;
          padding: 10px 15px;
          &:hover,
          &:active{
            text-decoration: none;
          }
        }//a
      }//li
    }//ul
    &.snap-drawer-left{
      left: 0;
      z-index: 2;
    }
    nav.utility{
      border-bottom: 1px solid white;
      margin-bottom: 20px;
      padding-bottom: 10px;
      .mini-cart{
        margin: 15px 15px 20px 15px;
        a{
          color: white;
          padding: 0 30px 0 0;
          background: url('/assets/img/elements/header_cart_icon.svg') center right no-repeat transparent;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    nav.parent{
      margin-top: 10px;
      a{
        text-transform: uppercase;
      }
    }
  }//snap_drawer
}//snap_drawers
/* ======================================== End Snap Drawers  ======================================== */

/* ======================================== Start Header ======================================== */
header{
  background-color: @nmfh-maroon;
  font-family: @nmfh-font-nimbus;
  border-bottom: 4px solid @nmfh-peach-dark;
  margin-bottom: 30px;
  overflow:hidden;
  .utility-bar{
    background-color: @nmfh-maroon;
    .search{
      display: inline-block;
      margin-top: 15px;
      margin-bottom: 15px;
      form{
        input{
          border: none;
          &[type="text"]{
            border-right: none;
            &:focus{
              -webkit-box-shadow: none !important;
              -moz-box-shadow: none !important;
              box-shadow: none !important;
            }
          }
          &[type="submit"]{
            border: none;
            padding-top: 7px;
            padding-bottom: 7px;
            background: url('/assets/img/elements/header_search_icon_17x17.png') center center no-repeat #fff;
            width: 50px;
            display: table-cell;
            vertical-align: top;
            &:hover{
              background-color: @gray-lightest;
            }
          }
        }
      }
    }
    .utility-nav{
      margin: 0;
      float: right;
      a,
      a:active,
      a:focus,
      a:visited{
        color: #fff;
        display: inline-block;
        padding: 20px 10px;
      }
      ul{
        list-style: none;
        float: left;
        margin: 0;
        padding: 0;
        li{
          padding: 0;
          display: inline-block;
        }
      }
      .mini-cart{
        float: right;
        display: none;
        a,
        a:active,
        a:focus,
        a:visited{
          padding: 0 30px 0 0;
          margin: 20px 0 20px 10px;
          background: url('/assets/img/elements/header_cart_icon.svg') center right no-repeat transparent;
        }
      }
    }
  }
  .main-header{
    padding-top: 15px;
    padding-bottom: 15px;
    .logo{
      a,
      a:active,
      a:focus,
      a:visited{
        display: block;
        img{
          //width: 200px;
          width: 220px; //anniversary size
        }
      }
      .visible-xs img{
	      width: 100px;
      }
    }
    ul{
      list-style: none;
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      li{
        padding: 0;
        a,
        a:active,
        a:focus,
        a:visited{
          display: inline-block;
          color: #fff;
          text-transform: uppercase;
          border-bottom: 1px solid transparent;
          padding-bottom: 2px;
          margin-bottom: 6px;
          text-decoration: none;
          line-height: 16px;
          &:hover{
            text-decoration: none;
            border-bottom: 1px solid #fff;
          }
        }
        &.active a{
          border-bottom: 1px solid #fff;
        }
      }
    }
    .parent-nav{
      border-right: 4px solid @nmfh-maroon;
      .btn{
	      margin-bottom: 13px;
      }
    }
    .child-nav{
      color: #fff;
      padding-left: 80px;
      h1{
        color: #fff;
        margin-bottom: 0;
      }
      p{
        margin-bottom: 20px;
        font-family: @font-family-sans-serif;
      }
    }
  }
  .grandchild-nav{
    background-color: @nmfh-peach-light;
    text-align: center;
    border-top: 4px solid @nmfh-peach-dark;
    padding-top: 15px;
    padding-bottom: 15px;
    h1{
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 10px;
      line-height: 36px;
      font-size: 36px;
    }
    h3 a{
	    color: @nmfh-maroon;
	    display: inline-block;
	    border-bottom: 1px solid @nmfh-maroon;
	    &:hover,
	    &:active,
	    &:focus{
		    text-decoration: none;
		    border-bottom-color: @nmfh-peach-light;
	    }
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      column-count:4;
      -moz-column-count:4;
      -webkit-column-count:4;
      text-align: left;
      li{
        padding: 0;
        a,
        a:active,
        a:visited,
        a:focus{
          display: block;
          color: @nmfh-gray-dark;
          text-decoration: none;
          padding: 3px 0;
          margin: 2px 10px 2px 10px;
          &:hover{
            text-decoration: underline;
          }
        }
        &.active a{
          text-decoration: underline;
        }
      }
    }
  }
}//header

body.page-11 header .columnize ul,
body.parent-11 header .columnize ul{
	column-count:2;
  -moz-column-count:2;
  -webkit-column-count:2;
  text-align:left;
  &:first-child{
		padding-right: 30px;
	}
/*
	width: 50% !important;
	float: left;
	&:first-child{
		padding-right: 30px;
	}
	li{
		width: 100% !important;
	}
	@media(max-width:767px){
		display: none;
	}
*/
}

body.page-11 header .columnize div,
body.parent-11 header .columnize div{
/*
	@media(max-width:767px){
		display: none;
	}
*/
}

#range_3{
  .utility-nav a{
    font-size: 12px;
  }
  .mini-cart a{
    line-height: 14px;
    padding-right: 20px;
  }
  .logo a img{
    width: 175px;
  }
}

#range_1,
#range_2{
  .child-nav{
    padding-left: 15px;
    margin-top: 15px;
    h1{
      border-top: 3px solid @nmfh-maroon;
      padding-top: 15px;
    }
  }
  .logo{
    text-align: center;
    img{
      text-align: center;
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
    }
  }
  .search{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
/* ======================================== End Header ======================================== */

/* ======================================== Start Footer ======================================== */
footer{
  width: 100%;
  border-top: 4px solid @nmfh-peach-dark;
  margin-top: 30px;
  .tagline{
    text-align: center;
    p{
      color: @nmfh-maroon;
      font-size: 20px;
      margin-top: 25px;
      font-family: @nmfh-font-headers;
    }
  }
  .pre-footer{
    background-color: @nmfh-peach-light;
    padding-bottom: 20px;
    h4{
      margin-top: 20px;
    }
    p{
      margin-bottom: 5px;
    }
    a,
    a:hover,
    a:visited,
    a:active,
    a:focus{
      color: @nmfh-maroon;
    }
    .btn{
      margin-top: 10px;
    }
    .social-link{
      display: inline-block;
      width: 35px;
      margin: 15px 0 15px 15px; 
      &.first{
        margin-left: 0;
      }
    }
    .newsletter,
    .newsletter:focus,
    .newsletter:active,
    .newsletter:visited{
      color: @nmfh-maroon;
      border-bottom: 1px solid @nmfh-maroon;
      padding-bottom: 2px;
      margin-top: 10px;
      display: inline-block;
      text-decoration: none;
      &:hover{
        text-decoration: none;
        border-bottom: none;
      }
    }
  }//sub-footer
  .main-footer{
    padding: 20px 0;
    background-color: @nmfh-gray-dark;
    h4{
      color: white;
      border-color: white;
      display: block;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        padding: 0;
        a,
        a:active,
        a:focus,
        a:visited{
          color: white;
          border-bottom: 1px solid transparent;
          display: inline-block;
          padding-bottom: 2px;
          margin: 5px 5px;
          &:hover{
            text-decoration: none;
            border-bottom: 1px solid white;
          }
        }
      }
    }
    .nav-wrapper{
      width: 12.5%;
      float: left;
      margin-left: 2%;
      font-family: @nmfh-font-nimbus;
      font-size: 12px;
      line-height: 12px;
      &.first{
        margin-left: 0;
      }
      &.last{
        padding-top: 55px;
      }
      .active a{
        border-bottom: 1px solid white;
      }
    }
    .mobile-footer-main-nav{
      text-transform: uppercase;
      font-family: @nmfh-font-headers;
    }
  }//main-footer
  .post-footer{
    padding: 20px 0;
    background-color: @nmfh-gray-dark;
    p{
      float: left;
      display: inline-block;
      margin-right: 15px;
      color: white;
      font-size: 11px;
      line-height: 16px;
      margin-bottom: 0;
      &.designed-by{
        float: right;
        margin-right: 0;
      }
      a,
      a:active,
      a:visited,
      a:focus,
      a:hover{
        color: white;
      }
    }
  }//post-footer
}//footer

#range_0,
#range_1,
#range_2{
  .post-footer{
    .designed-by{
      float: left;
    }
  }
}
/* ======================================== End Footer ======================================== */

/* ======================================== Start Home ======================================== */
.slideshow-container{
  position: relative;
  background-color: white;
}
#range_5 .slide-controler{
  display: none;
}
.slide-controler{
  background-size: 40px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  z-index: 101;
  cursor: pointer;
  &#prev{
    background: url('/assets/img/elements/gallery-arrow-left.svg') center left no-repeat;
    left: 20px;
  }
  &#next{
    background: url('/assets/img/elements/gallery-arrow-right.svg') center right no-repeat;
    right: 20px;
  }
}
.cycle-slideshow{
  margin-bottom: 30px;
  .slide{
    position: relative;
    overflow: hidden;
    width: 100%;
    display: none;
    span{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      display: block;
      background: url('/assets/img/elements/home_rotator_overlay_10x10.png') top left repeat transparent;
      color: white;
      padding: 40px;
      width: 50%;
      .landau{
        background: url('/assets/img/elements/rotator_landau.svg') top left no-repeat transparent;
        float: left;
        height: 100px;
        margin-bottom: 40px;
        width: 40px;
        display: block;
      }
      h2{
        margin-top: 0;
        display: block;
        text-transform: uppercase;
        line-height: 42px;
        color: #fff;
      }
      p{
        display: block;
        padding-left: 40px;
      }
      a{
        float: right;
        //margin-top: 20px;
      }
    }
    img{
      position: relative;
      width: 100%;
      height: auto;
    }
  }
}
#pager{
  text-align: right;
  z-index: 1000;
  position: absolute;
  top: 333px;
  right: 45px;
  .pager-link{
    a{
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-left: 10px;
      border-radius: 50%;
      border: 2px solid white;
      &:hover{
        border-color: @nmfh-yellow;
        background-color: @nmfh-yellow;
      }
    }
    &.cycle-pager-active a{
      border-color: @nmfh-yellow;
      background-color: @nmfh-yellow;
    }
  }
}
#range_4{
  .cycle-slideshow{
    .slide{
      span{
        h2{
          font-size: 26px;
          line-height: 32px;
          margin-bottom: 0;
        }
      }
    }
  }
}
#range_3{
  .cycle-slideshow{
    .slide{
      span{
        h2{
          font-size: 22px;
          line-height: 28px;
          margin-bottom: 0;
        }
        p{
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
  }
}
#range_0, #range_1, #range_2{
  .cycle-slideshow{
    .slide{
      .text-wrapper{
        position: relative;
        width: 100%;
        padding-bottom: 45px;
      }
      span a{
        margin-top: 0;
      }
    }
  }
}

/* ======================================== End Home ======================================== */

/* ======================================== Start Image Blocks ======================================== */

table.equal-height-container{
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: separate;
  tr{
    td{
      width: 25%;
      height: 100%;
      border: 15px solid #fff;
      border-top: none;
      vertical-align: top;
      background-color: @nmfh-green;
      padding: 0;
      margin: 0;
      overflow: hidden;
      position: relative;
      .overlay{
        background: url('/assets/img/elements/home_rotator_overlay_10x10.png') top left repeat transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        a,
        a:active,
        a:visited,
        a:focus,
        a:hover{
          display: block;
          padding: 30px;
          height: 100%;
          width: 100%;
          text-decoration: none;
        }
        p{
          color: #fff;
          &.title{
            font-family: @nmfh-font-headers;
            font-size: 26px;
            line-height: 26px;
          }
          &.description{
            padding-bottom: 40px;
          }
        }
        a.btn{
          position: absolute;
          bottom: 15px;
          right: 15px;
        }
      }
      .image-block,
      a.image-block,
      a.image-block:active,
      a.image-block:visited,
      a.image-block:focus{
        display: block;
        height: 100%;
        margin: -10em;
        padding: 10em;
        &:hover{
          background-color: @nmfh-green-dark;
        }
        img{
          width: 100%;
        }
        .image-block-content{
          padding: 20px;
          p{
            width: 100%;
            text-align: left;
            text-transform: uppercase;
            font-family: @nmfh-font-headers;
            font-size: 18px;
            line-height: 22px;
            padding: 0;
            margin: 0;
            color: white;
            &.line2{
              font-family: @font-family-sans-serif;
              font-size: 14px;
              line-height: 16px;
              padding-top: 8px;
              text-transform: none;
              font-weight: lighter;
            }
          }
        }
        &:hover{
          text-decoration: none;
        }
        &.members{
          background-color: @nmfh-tan;
          p{
            color: @nmfh-maroon;
          }
          &:hover{
            background-color: @nmfh-tan;
          }
        }
      }//.image-block
      &.three{
        width: 33%;
      }
      &.calendar-block{
        width: 50%;
      }
    }// end td
  }
}

.calendar-block h3 a,
.calendar-block h3 a:visited,
.calendar-block h3 a:focus,
.calendar-block h3 a:active,
.calendar-block h3 a:hover{
  color: @nmfh-maroon;
}

.image-block,
a.image-block,
a.image-block:active,
a.image-block:visited,
a.image-block:focus{
  display: block;
  margin-bottom: 30px;
  img{
    width: 100%;
  }
  .image-block-content{
    background-color: @nmfh-green;
    padding: 20px;
    p{
      width: 100%;
      text-align: left;
      text-transform: uppercase;
      font-family: @nmfh-font-headers;
      font-size: 18px;
      line-height: 22px;
      padding: 0;
      margin: 0;
      color: white;
      &.line2{
        font-family: @font-family-sans-serif;
        font-size: 14px;
        line-height: 16px;
        padding-top: 8px;
        text-transform: none;
        font-weight: lighter;
      }
    }
  }
  &:hover{
    text-decoration: none;
    .image-block-content{
      background-color: @nmfh-green-dark;
    }
    p{
      background-color: @nmfh-green-dark;
    }
  }
  &.bio{
    &.members{
      .image-block-content{
        background-color: @nmfh-tan;
        p{
          color: @nmfh-maroon;
        }
      }
      &:hover .image-block-content p{
        background-color: @nmfh-tan;
      }
    }
  }
}

#range_2 table.equal-height-container{
  tr td{
    width: 50%;
    float: left;
    display: block;
    &.td-1{
      clear: left;
    }
    &.td-0{
      clear: right;
    }
  }
}

#range_1 table.equal-height-container,
#range_0 table.equal-height-container{
  td{
    float: left;
    display: block;
    width: 100%;
  }
}

#range_3 .overlay{
  p.description{
    font-size: 13px;
    line-height: 16px;
  }
  p.title{
    margin-bottom: 0;
  }
}

#range_3 .overlay,
#range_2 .overlay{
  p.title{
    font-size: 22px;
    line-height: 22px;
  }
}
/* ======================================== End Image Blocks ======================================== */

/* ======================================== Start Parent Page ======================================== */
.parent-content{
  margin-bottom: 30px;
  h2{
    text-transform: none;
  }
}
.parent-cta{
  height: 1px;
  border-top: 1px solid @nmfh-yellow;
}
.cta-block{
  margin-bottom: 30px;
}
/* ======================================== End Parent Page ======================================== */

/* ======================================== Start Child Page ======================================== */
.child-content{
  h1{
    margin-top: 0;
  }
  a,
  a:active,
  a:focus,
  a:visited{
    color: @nmfh-maroon;
    text-decoration: underline;
    font-weight: bold;
    &:hover{
      text-decoration: none;
      color: @nmfh-maroon;
    }
    &.btn{
      color: #fff;
      font-weight: normal;
      text-decoration: none;
      &.back{
        margin-right: 15px;
      }
    }
  }
  table{
    width: 100%;
    tr{
      td{
        padding-right: 15px;
        vertical-align: top;
      }
    }
  }
}
.page-26 .child-content table tr td{
  border: 1px solid @nmfh-gray-dark;
  padding: 5px;
}
.sb-cta{
  display: block;
  float: left;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid @nmfh-peach-dark;
  &.last{
    border-bottom: none;
    margin-bottom: 0;
  }
  h3{
    margin-top: 0;
  }
  img{
    width: 100%;
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 0;
  }
}

.sidebar{
  background-color: @nmfh-peach-light;
  margin-top: -30px;
  padding: 0 30px;
  //float: left;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      padding: 0;
      margin-left: -30px;
      margin-right: -30px;
      border-bottom: 2px solid @nmfh-peach-dark;
      a,
      a:focus,
      a:active,
      a:visited{
        padding: 10px 10px 10px 45px;
        display: block;
        color: @nmfh-maroon;
        font-family: @nmfh-font-nimbus;
        text-transform: uppercase;
        background-color: @nmfh-peach;
        font-weight: bold;
        position: relative;
        text-decoration: none;
        &:before{
          content: ' ';
        	position: absolute;
          left: 30px;
          top: 15px;
          width: 0; 
        	height: 0; 
        	font-size: 0;
        	line-height: 0;
        	border: 15px solid transparent; /* arrow size */
        	border-bottom: 5px solid transparent;  /* left arrow slant */
        	border-top: 5px solid transparent; /* right arrow slant */
        	border-left: 5px solid @nmfh-maroon; /* bottom, add background color here */
        	
        }
        &:hover{
          text-decoration: none;
          background-color: @nmfh-peach-dark;
        }
      }
      &.active a{
        background-color: @nmfh-peach-dark;
      }
      p{
        color: @nmfh-maroon;
        padding: 10px 10px 10px 45px;
        margin: 0;
        text-transform: uppercase;
        background-color: @nmfh-peach;
        font-weight: bold;
        line-height: 18px;
      }
      &.datepicker-list{
        &.active{
          a,
          a:visited,
          a:focus,
          a:active{
            &:before{
              border: 15px solid transparent;
            	border-right: 5px solid transparent;
            	border-left: 5px solid transparent;
            	border-top: 5px solid @nmfh-maroon;
            }
          }
          .datepicker-container{
            a,
            a:visited,
            a:focus,
            a:active{
              &:before{
                border: none;
              }
            }
          }
        }
        .datepicker-container{
          text-align: center;
          padding: 30px;
          a,
          a:visited,
          a:focus,
          a:active{
            padding: 2px;
            display: block;
            color: @nmfh-maroon;
            font-family: @nmfh-font-nimbus;
            text-transform: none;
            background-color: white;
            font-weight: lighter;
            position: relative;
            text-decoration: none;
            &:before{
              content: none;
            	position: relative;
            	border: none;
            }
          }
        }
      }
    }//li
    &.categories{
      li a{
        background-color: @nmfh-peach-light;
        &:before{
          border: none;
        }
        &:hover{
          background-color: @nmfh-peach;
        }
      }
      li.active a{
        background-color: @nmfh-peach-dark;
      }
    }
  }//ul
}
#range_0, #range_1, #range_2{
  .sidebar{
    margin-top: 15px;
    &.calendar{
      margin-top: -30px;
      margin-bottom: 30px;
    }
  }
  .child-content{
    table tr td{
      width: 100%;
      float: left;
    }
  }
}
.breadcrumbs{
  margin-bottom: 15px;
  a{
    padding-right: 30px;
    position: relative;
    &:after{
      content: ' ';
    	position: absolute;
      right: 0;
      top: 3px;
      width: 0; 
    	height: 0; 
    	font-size: 0;
    	line-height: 0;
    	border: 15px solid transparent; /* arrow size */
    	border-bottom: 5px solid transparent;  /* left arrow slant */
    	border-top: 5px solid transparent; /* right arrow slant */
    	border-left: 5px solid @nmfh-maroon; /* bottom, add background color here */
    }
  }
}
#image-caption p{
  margin-top: -30px;
  margin-bottom: 20px;
  background-color: @nmfh-peach-light;
  padding: 10px;
  &.empty{
    background-color: white;
  }
}    
/* ======================================== End Child Page ======================================== */

/* ======================================== Start Error Page ======================================== */
.page-38{
  .parent-content{
    min-height: 700px;
    h1{
      color: @nmfh-yellow-dark;
      font-size: 92px;
      line-height: 72px;
    }
    h2{
      text-transform: uppercase;
    }
  }
}
/* ======================================== End Error Page ======================================== */

/* ======================================== Start Search Results Page ======================================== */
.sisea-result{
  h3 a{
    text-decoration: none;
    margin-bottom: 0;
    &:hover{
      text-decoration: underline;
    }
  }
  p{
    padding-left: 25px;
  }
}
.sisea-highlight{
  background-color: @nmfh-peach-light;
  padding: 3px;
}
.sisea-paging{
  .sisea-result-pages{
    margin-right: 10px;
  }
  a{
    text-decoration: none;
    padding: 5px;
    &:hover{
      text-decoration: underline;
    }
  }
}
/* ======================================== End Search Results Page ======================================== */

/* ======================================== Start Products Page ======================================== */
.product-thumb img{
  width: 100%;
  margin-bottom: 15px;
}
.shipping-disclaimer p{
  font-size: 12px;
  font-style: italic;
  margin-top: 20px;
}
.color-swatches{
  .swatch{
    height: 50px;
    margin-bottom: 30px;
    p{
      line-height: 14px;
      font-size: 12px;
      padding-top: 5px;
    }
  }
  .swatch-black{
    background-color: #000;
    color: #fff;
  }
  .swatch-white{
    background-color: #fff;
  }
  .swatch-ecru{
    background-color: @swatch-ecru;
  }
  .swatch-light-blue{
    background-color: @swatch-light-blue;
  }
  .swatch-blue{
    background-color: @swatch-blue;
  }
  .swatch-french-blue{
    background-color: @swatch-french-blue;
  }
  .swatch-glacier-gray{
    background-color: @swatch-glacier-gray;
  }
  .swatch-blue-wave{
    background-color: @swatch-blue-wave;
  }
  .swatch-pink{
    background-color: @swatch-pink;
  }
}// end color-swatches

.sale-label{
	position: absolute;
	color: white;
	margin-left: -20px;
	font-family: @nmfh-font-nimbus;
	text-transform: uppercase;
	background-color: @nmfh-maroon;
	display:block;
	width: 100%;
	text-align: center;
	bottom: 0;
	font-size: 18px;
}

/* ======================================== End Products Page ======================================== */

/* ======================================== Start Foxycart Styles ======================================== */
#fc .fc-fixed-button-right .fc-btn-action {
  background: linear-gradient(to bottom, @nmfh-green 0%, @nmfh-green 100%) !important;
  background-color: @nmfh-green !important;
}
#fc header{
  background-color: transparent !important;
}
#fc .fc-action--checkout--button, 
#fc .fc-button--subscription-cancel, 
#fc .fc-button--submit{
  background: linear-gradient(to bottom, @nmfh-green 0%, @nmfh-green 100%) !important;
  background-color: @nmfh-green !important;
  border: none !important;
  border-bottom: 2px solid @nmfh-green-dark !important;
}
#fc .fc-action--checkout--button:hover, 
#fc .fc-action--checkout--button:focus, 
#fc .fc-button--subscription-cancel:hover, 
#fc .fc-button--subscription-cancel:focus, 
#fc .fc-button--submit:hover, 
#fc .fc-button--submit:focus{
  background: linear-gradient(to bottom, @nmfh-green-dark 0%, @nmfh-green-dark 100%) !important;
  background-color: @nmfh-green-dark !important;
  border-bottom: 2px solid @nmfh-green !important;
}
/* ======================================== End Foxycart Styles ======================================== */