/* Humanity style sheet for jQuery Datepicker v5.0.0. */
.datepick {
	background-color: white;
	color: #1e1b1c;
	border: 1px solid white;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
	//font-family: Arial,Helvetica,Sans-serif;
	font-size: 90%;
}
/*
.datepick-rtl {
	direction: rtl;
}
.datepick-popup {
	z-index: 1000;
}
.datepick-disable {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
*/
.datepick a {
	color: @nmfh-gray-dark;
	text-decoration: none;
}
.datepick a.datepick-disabled {
	color: @gray-light;
	cursor: auto;
}
/*
.datepick button {
    margin: 0.25em;
    padding: 0.125em 0em;
    background-color: #ede4d4;
    border: none;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    font-weight: bold;
}
*/
/*
.datepick-nav, .datepick-ctrl {
	//float: left;
	width: 100%;
	background-color: @nmf-maroon;
	color: white;
//	font-size: 90%;
	font-weight: bold;
}
.datepick-ctrl {
	background-color: #cb842e;
}
*/
.datepick-nav{
  background-color: @nmfh-maroon;
	color: white;
	float: left;
	width: 100%;
}
.datepick-nav a{
  color: #ffffff;
}
.sidebar ul li.datepicker-list .datepicker-container a, 
.sidebar ul li.datepicker-list .datepicker-container a:visited, 
.sidebar ul li.datepicker-list .datepicker-container a:focus, 
.sidebar ul li.datepicker-list .datepicker-container a:active{
  &.datepick-cmd{
    width: 30%;
  	background-color: @nmfh-maroon;
  	color: white;
  }
}

.datepick .datepick-nav a.datepick-cmd{
	width: 30%;
	background-color: @nmfh-maroon;
	color: white;
}
.datepick-cmd:hover {
	background-color: #f4f0ec;
}
/*
.datepick-cmd-prevJump, .datepick-cmd-nextJump {
	width: 8%;
}
a.datepick-cmd {
	height: 1.5em;
}
button.datepick-cmd {
	text-align: center;
}
*/
.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
	float: left;
	padding-left: 2%;
}
.datepick-cmd-current, .datepick-cmd-today {
	float: left;
	width: 35%;
	text-align: center;
}
.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
	float: right;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump,
.datepick-rtl .datepick-cmd-clear {
	float: right;
	padding-left: 0%;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today {
	float: right;
}
.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump,
.datepick-rtl .datepick-cmd-close {
	float: left;
	padding-left: 2%;
	padding-right: 0%;
	text-align: left;
}
.datepick-month-nav {
	float: left;
	text-align: center;
}
.datepick-month-nav div {
	float: left;
	width: 12.5%;
	margin: 1%;
	padding: 1%;
}
.datepick-month-nav span {
	color: #888;
}
.datepick-month-row {
	clear: left;
}
.datepick-month {
	float: left;
	width: 17em;
	//border: 1px solid #e0cfc2;
	text-align: center;
}
.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
	height: 1.5em;
	background-color: @nmfh-maroon;
	color: #fff;
	font-weight: bold;
}
.datepick-month-header select, .datepick-month-header input {
	height: 1.4em;
	border: none;
}
.datepick-month-header input {
	position: absolute;
	display: none;
}
.datepick-month table {
	width: 100%;
	//border: 2px solid transparent;
	border-collapse: collapse;
}
.datepick-month th, .datepick-month td {
	margin: 0em;
	padding: 0.125em;
	font-weight: normal;
	text-align: center;
}
.datepick-month td.datepick-week,
.datepick-month td.datepick-week * {
	background-color: #cb842e;
	color: #fff;
	//border: 1px solid #cb842e;
}
.datepick-month a {
	display: block;
	width: 100%;
	padding: 0.125em 0em;
	background-color: #ede4d4;
	color: #000;
	border: 1px solid #cdc3b7;
	text-decoration: none;
}
.datepick-month a, .datepick-month span {
	display: block;
	margin-top: 0.25em;
}
.datepick-month a {
	background-color: #ede4d4;
	color: #444;
	border: 1px solid #cdc3b7;
	text-decoration: none;
}
.datepick-month td span {
	color: #888;
}
.datepick-month td .datepick-other-month {
	background-color: #f4f0ec;
}
.datepick-month td .datepick-today {
	background-color: #f5f5b5;
	border: 1px solid #d9bb73;
}
.datepick-month td .datepick-highlight {
	background-color: #f5f0e5;
	color: #1e1b1c;
	border: 1px solid #f5ad66;
}
.datepick-month td .datepick-selected {
	background-color: #cb842e;
	color: #fff;
	border: 1px solid #cb842e;
}
.datepick-status {
	clear: both;
	text-align: center;
}
.datepick-clear-fix {
	clear: both;
}
