<form class="form" action="https://nmfh.foxycart.com/cart" method="post" accept-charset="utf-8">
  <input type="hidden" name="[[!hmacVerification? &var_name=`name` &var_value=`Buy a Brick` &var_code=`brick`]]" value="Buy a Brick" />
  <input type="hidden" name="[[!hmacVerification? &var_name=`code` &var_value=`brick` &var_code=`brick`]]" value="brick" />
  <input type="hidden" name="[[!hmacVerification? &var_name=`category` &var_value=`DONATION` &var_code=`brick`]]" value="DONATION" />
  <input type="hidden" name="[[!hmacVerification? &var_name=`price` &var_value=`250` &var_code=`brick`]]" value="250" />
 <div class="row">
    <div class="col-xs-12">
      <p>For your Engraved Brick you may engrave three lines, with up to 14 characters per line. If you have any additional comments, please provide them in the area below.</p>
    </div><!-- /.col -->
  </div><!-- /.row -->
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="line1">Line 1</label>
      <input class="form-control" type="text" name="[[!hmacVerification? &var_name=`line1` &var_value=`--OPEN--` &var_code=`brick`]]" />
    </div><!-- /.form-group -->
  </div><!-- /.row -->
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="line2">Line 2</label>
      <input class="form-control" type="text" name="[[!hmacVerification? &var_name=`line2` &var_value=`--OPEN--` &var_code=`brick`]]" />
    </div><!-- /.form-group -->
  </div><!-- /.row -->
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="line3">Line 3</label>
      <input class="form-control" type="text" name="[[!hmacVerification? &var_name=`line3` &var_value=`--OPEN--` &var_code=`brick`]]" />
    </div><!-- /.form-group -->
  </div><!-- /.row -->
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="comments">Additional Comments</label>
      <textarea class="form-control" type="text" name="[[!hmacVerification? &var_name=`comments` &var_value=`--OPEN--` &var_code=`brick`]]" /></textarea>
    </div><!-- /.form-group -->
  </div><!-- /.row -->
  <input type="submit" class="btn" value="Add to Cart" />
</form>