<div class="row">
  <div class="col-xs-12">
      <!-- original code 
      <p><strong>Donation Type</strong></p>
      <input type="checkbox" name="[[!hmacVerification? &var_name=`price` &var_value=`--OPEN--` &var_code=`donation`]]" value="[[+price]]"/> $[[+price]] - [[+description]]
  		-->


	<input type="hidden" name="[[!hmacVerification? &var_name=`name` &var_value=`Urn-Donation` &var_code=`Urn-Donation`]]" value="Urn-Donation" />
  	<input type="hidden" name="[[!hmacVerification? &var_name=`code` &var_value=`Urn-Donation` &var_code=`Urn-Donation`]]" value="Urn-Donation" />
  	<input type="hidden" name="[[!hmacVerification? &var_name=`category` &var_value=`Urn-Donation` &var_code=`Urn-Donation`]]" value="Urn-Donation" />
  	
  	<table>
  		<tbody>
  			<tr>
  				<td>
  				    <a href="/assets/img/images/urn-donation/40-big.jpg"><img src="/assets/img/images/urn-donation/40.jpg" target="_blank" /></a>
  				</td>
  				<td>
  					<h3>Supporter</h3>
  					<p>Donor will receive the souvenir urn in choice of blue, brown, green or the McKenzie classic.
  					$40  <input type="radio" name="[[!hmacVerification? &var_name=`price` &var_value=`--OPEN--` &var_code=`Urn-Donation`]]" value="40"/>
    				<select name="[[!hmacVerification? &var_code=`Urn-Donation`]]">
    					<option value="">&nbsp;</option>
						<option value="Blue">Blue</option>
						<option value="Brown">Brown</option>
						<option value="Green">Green</option>
						<option value="McKenzie">McKenzie</option>
					</select>
					</p>
					<input type="submit" class="btn" value="Add to Cart" />
					<hr />
  				</td>
  			</tr>
  			<tr>
  				<td><a href="/assets/img/images/urn-donation/500-urn-big.jpg"><img src="/assets/img/images/urn-donation/500-urn.jpg" /></a></td>
  				<td>
  					<h3>Keepsake Donor</h3>
  					<p>Donor will receive the small signature keepsake urn (red) and their name engraved on the Keepsake Donor Plaque displayed on the donor wall of the exhibit.<br />
  					<input type="radio" name="[[!hmacVerification? &var_name=`price` &var_value=`--OPEN--` &var_code=`Urn-Donation`]]" value="500"/>  $500</p>
  					<input type="submit" class="btn" value="Add to Cart" />
  					<hr />
  				</td>
  			</tr>
  			<tr>
  				<td><a href="/assets/img/images/urn-donation/1000-urn-big.jpg"><img src="/assets/img/images/urn-donation/1000-urn.jpg" /></a></td>
  				<td>
  					<h3>Urn Donor</h3>
					<p>Donor will receive the large signature urn (red) and their name engraved on the Urn Donor Plaque displayed on the donor wall of the exhibit.<br />
    				<input type="radio" name="[[!hmacVerification? &var_name=`price` &var_value=`--OPEN--` &var_code=`Urn-Donation`]]" value="1000"/> $1,000</p>
    				<input type="submit" class="btn" value="Add to Cart" />
    			</td>
  			</tr>
  		</tbody>
  	</table>
  </div><!-- /.col -->
</div><!-- /.row -->