<h2>Niche Wall Donation:</h2>
<hr />
<form class="form form-vertical" action="https://nmfh.foxycart.com/cart" method="post" accept-charset="utf-8">
  <div class="row">  
    <div class="form-group col-xs-12">
      <div class="clearfix"></div>
         [[!getImageList? 
             &tvname=`migx_donation-nichewall`
             &tpl=`donation-niche-tpl`
         ]]
    </div><!-- /.form-group -->  
  </div><!-- /.row -->

  <div class="clearfix"><br></div>
  <!--<input type="submit" class="btn" value="Add to Cart" />-->
</form>
<hr />