[[!FormIt?
	&hooks=`spam,redirect,email`
	&emailTo=`[[++corporategiving_email]]`
	&emailFromName=`National Museum of Funeral History`
	&emailTpl=`fi-tpl-email-corporate-donation`
	&emailSubject=`Corporate Donation Form Submission`
	&redirectTo=`323`
	&validate=`
	  username:blank,
	  ammount:required,
	  donationcontact:required,
	  donationphone:required,
	  donationemail:email:required`
]]
[[!FormItRetriever]]

<form id="rental-form" action="[[~[[*id]]]]" method="post" enctype="multipart/form-data">
	
	<input type="hidden" name="username" value="" />
			      
  <div class="row">
    <div class="col-md-12 col-ms-12">
	    <div class="form-group">
		    <label>How much do you want to donate? * <span class="error">[[!+fi.error.ammount]]</span></label>
		    <input type="text" name="ammount" class="form-control" value="[[!+fi.ammount]]" required />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-12 col-ms-12">
	    <div class="form-group">
		    <label>Contact person for donations * <span class="error">[[!+fi.error.donationcontact]]</span></label>
		    <input type="text" name="donationcontact" class="form-control" value="[[!+fi.donationcontact]]" required />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Phone * <span class="error">[[!+fi.error.donationphone]]</span></label>
		    <input type="text" name="donationphone" class="form-control" value="[[!+fi.donationphone]]" required />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
	  <div class="col-md-6 col-ms-6">
	    <div class="form-group"> 
		    <label>Email * <span class="error">[[!+fi.error.donationemail]]</span></label>
		    <input type="text" name="donationemail" class="form-control" value="[[!+fi.donationemail]]" required />
	    </div><!--/.form-group -->
    </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-12 col-ms-12">
	    <div class="form-group">
		    <label>How do you want your business listed on sponsorship signage and materials?</label>
		    <input type="text" name="businesslisting" class="form-control" value="[[!+fi.businesslisting]]"  />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
  </div><!--/.row-->
    
  <div class="row"> 
		<div class="col-xs-12">
			<input class="btn btn-green" type="submit" name="submit" value="Submit" />
		</div><!--/.col-->
  </div><!--/.row-->
  
</form>
