[[!FormIt?
	&hooks=`spam,redirect,email`
	&emailTo=`[[++adoptartifact_email]]`
	&emailFromName=`National Museum of Funeral History`
	&emailTpl=`fi-tpl-email-adopt-artifact`
	&emailSubject=`Adopt an Artifact Form Submission`
	&redirectTo=`350`
	&validate=`
	  username:blank,
	  ammount:required,
	  donationcontact:required,
	  donationphone:required,
	  donationemail:email:required`
]]
[[!FormItRetriever]]

<form id="artifact-form" action="[[~[[*id]]]]" method="post" enctype="multipart/form-data">
	
	<input type="hidden" name="username" value="" />
			      
  <div class="row">
    <div class="col-md-12 col-ms-12">
	    <div class="form-group">
		    <label>How much do you want to donate? * <span class="error">[[!+fi.error.ammount]]</span></label>
		    <input type="number" min="2500" name="ammount" class="form-control" value="[[!+fi.ammount]]" required />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-12 col-ms-12">
	    <div class="form-group">
		    <label>Contact person for donations * <span class="error">[[!+fi.error.donationcontact]]</span></label>
		    <input type="text" name="donationcontact" class="form-control" value="[[!+fi.donationcontact]]" required />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Phone * <span class="error">[[!+fi.error.donationphone]]</span></label>
		    <input type="text" name="donationphone" class="form-control" value="[[!+fi.donationphone]]" required />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
	  <div class="col-md-6 col-ms-6">
	    <div class="form-group"> 
		    <label>Email * <span class="error">[[!+fi.error.donationemail]]</span></label>
		    <input type="email" name="donationemail" class="form-control" value="[[!+fi.donationemail]]" required />
	    </div><!--/.form-group -->
    </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-12 col-ms-12">
	    <div class="form-group">
		    <label>What artifact would you like to adopt?</label>
		    <input type="text" name="artifact" class="form-control" value="[[!+fi.artifact]]" />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
  </div><!--/.row-->
    
  <div class="row"> 
		<div class="col-xs-12">
			<input class="btn btn-green" type="submit" name="submit" value="Submit" />
		</div><!--/.col-->
  </div><!--/.row-->
  
</form>
