<p>
  <b>How much do you want to donate?:</b> [[+ammount]] <br/>
  <b>Contact person for donations:</b> [[+donationcontact]] <br/>
  <b>Phone:</b> [[+donationphone]] <br/>
  <b>Email:</b> [[+donationemail]] <br/>
  <b>How do you want your business listed on sponsorship signage and materials?:</b> [[+businesslisting]] <br/> 
<!--
  <b>What do you want to donate to?:</b> [[+donateto]] <br/>
  <b>Adopt an Artifact:</b> [[+artifact]] <br/>
  <b>Contact person for member benefits/special invitations:</b> [[+benefitcontact]] <br/>
  <b>Phone:</b> [[+benefitphone]] <br/> 
  <b>Email:</b> [[+benefitemail]] <br/> 
-->
</p>