<p>
  <b>How much do you want to donate?:</b> [[+ammount]] <br/>
  <b>Contact person for donations:</b> [[+donationcontact]] <br/>
  <b>Phone:</b> [[+donationphone]] <br/>
  <b>Email:</b> [[+donationemail]] <br/>
  <b>What artifact would you like to adopt?:</b> [[+artifact]] <br/>
</p>