[[!FormIt?
	&hooks=`spam,redirect,email`
	&emailTo=`[[++rental_email]]`
	&emailFromName=`National Museum of Funeral History`
	&emailTpl=`fi-tpl-email-rental-contact`
	&emailSubject=`Museum Rental Form Submission`
	&redirectTo=`318`
	&emailMultiSeparator=`, `
	&validate=`
	  username:blank,
	  requestor:required,
	  contactperson:required,
	  email:email:required,
	  eventtype:required,
	  attendancenumber:required,
	  datetime:required`
]]
[[!FormItRetriever]]

<form id="rental-form" action="[[~[[*id]]]]" method="post" enctype="multipart/form-data">
	
	<input type="hidden" name="username" value="" />
			      
  <div class="row">
    <div class="col-md-12 col-ms-12">
	    <div class="form-group">
		    <label>Group/individual requesting facility rental * <span class="error">[[!+fi.error.requestor]]</span></label>
		    <input type="text" name="requestor" class="form-control" value="" required />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Contact Person * <span class="error">[[!+fi.error.contactperson]]</span></label>
		    <input type="text" name="contactperson" class="form-control" value="" required/>
	    </div><!--/.form-group -->
	  </div><!--/.col-->
	  <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Work Phone</label>
		    <input type="text" name="workphone" class="form-control" value="" />
	    </div><!--/.form-group -->
    </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Cell Phone</label>
		    <input type="text" name="cellphone" class="form-control" value="" />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
	  <div class="col-md-6 col-ms-6">
	    <div class="form-group"> 
		    <label>Email Address * <span class="error">[[!+fi.error.email]]</span></label>
		    <input type="text" name="email" class="form-control" value="" required />
	    </div><!--/.form-group -->
    </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-12 col-ms-12">
	    <div class="form-group">
		    <label>Mailing Address</label>
		    <input type="text" name="address" class="form-control" value=""  />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Type of Event * <span class="error">[[!+fi.error.eventtype]]</span></label>
		    <input type="text" name="eventtype" class="form-control" value=""  required />
	    </div><!--/.form-group -->
	   </div><!--/.col-->
	   <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Expected number of people * <span class="error">[[!+fi.error.attendancenumber]]</span></label>
		    <input type="text" name="attendancenumber" class="form-control" value=""  required />
	    </div><!--/.form-group -->
    </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Date(s) & Time(s) * <span class="error">[[!+fi.error.datetime]]</span></label>
		    <input type="text" name="datetime" class="form-control" value=""  required />
	    </div><!--/.form-group -->
	   </div><!--/.col-->
	   <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Day prior access to facility needed? <span class="error">[[!+fi.error.dayprior]]</span></label>
		    <div class="radio">
  		    <label>
  		      <input type="radio" name="dayprior[]" value="yes" [[!+fi.dayprior:FormItIsSelected=`yes`]] />Yes
  		    </label>
		    </div><!-- /.radio -->
		    <div class="radio">
  		    <label>
  		      <input type="radio" name="dayprior[]" value="no" [[!+fi.dayprior:FormItIsSelected=`no`]] />No
  		    </label>
		    </div>
	    </div><!--/.form-group -->
    </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-xs-12">
      <label>Rooms/Locations of interest</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="locations[]" value="Museum" [[!+fi.locations:FormItIsSelected=`Museum`]] /> Museum
        </label>
      </div><!-- /.checkbox -->
      <div class="checkbox">
        <label>
          <input type="checkbox" name="locations[]" value="Kitchen" [[!+fi.locations:FormItIsSelected=`Kitchen`]] /> Kitchen
        </label>
      </div><!-- /.checkbox -->
      <div class="checkbox">
        <label>
          <input type="checkbox" name="locations[]" value="Dining" [[!+fi.locations:FormItIsSelected=`Dining`]] /> Dining
        </label>
      </div><!-- /.checkbox -->
      <div class="checkbox">
        <label>
          <input type="checkbox" name="locations[]" value="Auditorium" [[!+fi.locations:FormItIsSelected=`Auditorium`]] /> Auditorium
        </label>
      </div><!-- /.checkbox -->
      <div class="checkbox">
        <label>
          <input type="checkbox" name="locations[]" value="Boardroom" [[!+fi.locations:FormItIsSelected=`Boardroom`]] /> Boardroom
        </label>
      </div><!-- /.checkbox -->
      <div class="checkbox">
        <label>
          <input type="checkbox" name="locations[]" value="Classrooms" [[!+fi.locations:FormItIsSelected=`Classrooms`]] /> Classrooms
        </label>
      </div><!-- /.checkbox -->
      <div class="checkbox">
        <label>
          <input type="checkbox" name="locations[]" value="Business Center" [[!+fi.locations:FormItIsSelected=`Business Center`]] /> Business Center
        </label>
      </div><!-- /.checkbox -->
    </div>
  </div><!-- /.row -->
  
  <div class="row">
		<div class="col-xs-12"> 
			<div class="form-group textarea-group">
				<label>List in Detail All Equipment Required<br><i>**If additional catering equipment is needed additional fee will apply.</i></label>
		    <textarea class="form-control" rows="6" name="requiredequipment"></textarea>
	    </div><!--/.form-group-->
		</div><!--/.col-->
  </div><!--/.row-->  
  
  <div class="row">
		<div class="col-xs-12"> 
			<div class="form-group textarea-group">
				<label>Special Needs or Requests</label>
		    <textarea class="form-control" rows="6" name="specialneeds"></textarea>
	    </div><!--/.form-group-->
		</div><!--/.col-->
  </div><!--/.row-->  
  
  <div class="row"> 
		<div class="col-xs-12">
			<input class="btn btn-green" type="submit" name="submit" value="Submit" />
		</div><!--/.col-->
  </div><!--/.row-->
  
</form>
