[[!FormIt?
	&hooks=`spam,redirect,email`
	&emailTo=`[[++volunteer_email]]`
	&emailFromName=`National Museum of Funeral History`
	&emailTpl=`fi-tpl-email-volunteer-contact`
	&emailSubject=`Volunteer Form Submission`
	&redirectTo=`324`
	&validate=`
	  username:blank,
	  fname:required,
	  lname:required,
	  email:email:required,
	  availability:required,
	  why:required,
	  skills:required,
	  enjoy:required`
]]
[[!FormItRetriever]]

<form id="rental-form" action="[[~[[*id]]]]" method="post" enctype="multipart/form-data">
	
	<input type="hidden" name="username" value="" />
  
  <div class="row">
    <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>First Name * <span class="error">[[!+fi.error.fname]]</span></label>
		    <input type="text" name="fname" class="form-control" value="" required/>
	    </div><!--/.form-group -->
	  </div><!--/.col-->
	  <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Last Name * <span class="error">[[!+fi.error.lname]]</span></label>
		    <input type="text" name="lname" class="form-control" value="" required />
	    </div><!--/.form-group -->
    </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-6 col-ms-6">
	    <div class="form-group">
		    <label>Phone</label>
		    <input type="text" name="phone" class="form-control" value="" />
	    </div><!--/.form-group -->
	  </div><!--/.col-->
	  <div class="col-md-6 col-ms-6">
	    <div class="form-group"> 
		    <label>Email * <span class="error">[[!+fi.error.email]]</span></label>
		    <input type="text" name="email" class="form-control" value="" required />
	    </div><!--/.form-group -->
    </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-md-12 col-ms-12">
	    <div class="form-group">
		    <label>What days / times are you available? * <span class="error">[[!+fi.error.availability]]</span></label>
		    <textarea class="form-control" rows="6" name="availability" required></textarea>
	    </div><!--/.form-group -->
	  </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row">
		<div class="col-xs-12"> 
			<div class="form-group textarea-group">
				<label>Why do you want to volunteer? * <span class="error">[[!+fi.error.why]]</span></label>
		    <textarea class="form-control" rows="6" name="why" required></textarea>
	    </div><!--/.form-group-->
		</div><!--/.col-->
  </div><!--/.row--> 
  
  <div class="row">
		<div class="col-xs-12"> 
			<div class="form-group textarea-group">
				<label>What skills/training to you have? * <span class="error">[[!+fi.error.skills]]</span></label>
		    <textarea class="form-control" rows="6" name="skills" required></textarea>
	    </div><!--/.form-group-->
		</div><!--/.col-->
  </div><!--/.row--> 
  
  <div class="row">
		<div class="col-xs-12"> 
			<div class="form-group textarea-group">
				<label>What tasks do you enjoy? * <span class="error">[[!+fi.error.enjoy]]</span></label>
		    <textarea class="form-control" rows="6" name="enjoy" required></textarea>
	    </div><!--/.form-group-->
		</div><!--/.col-->
  </div><!--/.row-->  
  
  <div class="row">
	   <div class="col-md-12 col-ms-12">
	    <div class="form-group">
		    <label>Do you want to be a docent?</label>
		    <div class="radio">
  		    <label>
  		      <input type="radio" name="docent[]" value="yes" [[!+fi.docent:FormItIsSelected=`yes`]] />Yes
  		    </label>
		    </div><!-- /.radio -->
		    <div class="radio">
  		    <label>
  		      <input type="radio" name="docent[]" value="no" [[!+fi.docent:FormItIsSelected=`no`]] />No
  		    </label>
		    </div>
	    </div><!--/.form-group -->
    </div><!--/.col-->
  </div><!--/.row-->
  
  <div class="row"> 
		<div class="col-xs-12">
			<input class="btn btn-green" type="submit" name="submit" value="Submit" />
		</div><!--/.col-->
  </div><!--/.row-->
  
</form>
