<p>
  <b>First Name:</b> [[+fname]] <br/>
  <b>Last Name:</b> [[+lname]] <br/>
  <b>Phone:</b> [[+phone]] <br/>
  <b>Email:</b> [[+email]] <br/>
  <b>What days / times are you available?:</b> [[+availability]] <br/>
  <b>Why do you want to volunteer?:</b> [[+why]] <br/>
  <b>What skills/training to you have?:</b> [[+skills]] <br/> 
  <b>What tasks do you enjoy?:</b> [[+enjoy]] <br/> 
  <b>Do you want to be a docent?:</b> [[+docent]] <br/> 
</p>