			<footer>
  			<div class="pre-footer">
    			<div class="container">
    				<div class="row">
    					<div class="col-sm-12 col-ms-4 col-md-4">
    						<h4>Hours</h4>
    						[[++footer_hours]]
    					</div><!-- /.col -->
    					<div class="col-sm-12 col-ms-4 col-md-4">
    						<h4>Contact</h4>
    						<p>415 Barren Springs Drive</p>
 
<p>Houston, TX 77090-5918</p>
 
<p>281.876.3063</p>
 
<a href="mailto:contact@nmfh.org">contact@nmfh.org</a><br />
 
<a href="mailto:contact@nmfh.org" class="btn btn-green">Contact Us</a>


<!--     						[[++footer_contact]] -->
    					</div><!-- /.col -->
    					<div class="col-sm-12 col-ms-4 col-md-4">
    						<h4>Connect</h4>
    						<div class="clearfix"></div>
    						[[++footer_fb:notempty=`<a class="social-link first" href="[[++footer_fb]]" target="_blank" title="Facebook"><img src="/assets/img/elements/footer_fbook.svg" class="social-img" alt="Facebook" title="Facebook"/><a>`]]
    						[[++footer_t:notempty=`<a class="social-link" href="[[++footer_t]]" target="_blank" title="Twitter"><img src="/assets/img/elements/footer_twitter.svg" class="social-img" alt="Twitter" title="Twitter"/><a>`]]
    						[[++footer_li:notempty=`<a class="social-link" href="[[++footer_li]]" target="_blank" title="LinkedIn"><img src="/assets/img/elements/footer_linkedin.svg" class="social-img" alt="LinkedIn" title="LinkedIn"/><a>`]]
    						[[++footer_gp:notempty=`<a class="social-link" href="[[++footer_gp]]" target="_blank" title="Google Plus"><img src="/assets/img/elements/footer_gplus.svg" class="social-img" alt="Google Plus" title="Google Plus"/><a>`]]
                [[++footer_flickr:notempty=`<a class="social-link" href="[[++footer_flickr]]" target="_blank"><img src="/assets/img/elements/footer_flickr.svg" class="social-img" alt="Flickr" title="Flickr"/><a>`]]
                [[++footer_trip_advisor:notempty=`
                  <a class="social-link" href="[[++footer_trip_advisor]]" target="_blank"><img src="/assets/img/elements/footer_tripadv.svg" class="social-img" alt="Trip Advisor" title="Trip Advisor"/></a>
                `]]
                <div class="clearfix"></div>
                <a class="newsletter" href="[[++footer_newsletter]]" target="_blank">Sign up for our e-newsletter</a>
    					</div><!-- /.col -->
    				</div><!-- /.row -->
    				<div class="row">
      				<div class="tagline col-xs-12">
        				<p>[[++tagline]]</p>
      				</div><!-- /.col -->
    				</div><!-- /.row -->
    			</div><!-- /.container -->
  			</div><!-- /.pre-footer -->
  			<div class="main-footer">
    			<div class="container">
      			<div class="row">
        			<div class="col-xs-12 hidden-xs hidden-sm">
          			<div class="nav-wrapper first">
        			    <h4>Visit[[-pdofield? id=`8`]]</h4>
         			    [[pdomenu? &parents=`8` &level=`1`]]
        			  </div><!-- /.nav-wrapper -->
        			  <div class="nav-wrapper">
        			    <h4>[[pdofield? id=`9`]]</h4>
        			    [[pdomenu? &parents=`9` &level=`1`]]
        			  </div><!-- /.nav-wrapper -->
        			  <div class="nav-wrapper">
        			    <h4>[[pdofield? id=`10`]]</h4>
        			    [[pdomenu? &parents=`10` &level=`1`]]
        			  </div><!-- /.nav-wrapper -->
        			  <div class="nav-wrapper">
        			    <h4>[[pdofield? id=`11`]]</h4>
        			    [[pdomenu? &parents=`11` &level=`1`]]
        			  </div><!-- /.nav-wrapper -->
        			  <div class="nav-wrapper">
        			    <h4>[[pdofield? id=`12`]]</h4>
        			    [[pdomenu? &parents=`12` &level=`1`]]
        			  </div><!-- /.nav-wrapper -->
        			  <div class="nav-wrapper">
        			    <h4>[[pdofield? id=`13`]]</h4>
        			    [[pdomenu? &parents=`13` &level=`1`]]
        			  </div><!-- /.nav-wrapper -->
        			  <div class="nav-wrapper last">
        			    [[pdomenu? &parents=`2` &level=`1`]]
        			  </div><!-- /.nav-wrapper -->
        			</div><!-- /.col -->
        			<div class="mobile-footer-main-nav col-xs-6 col-sm-6 visible-xs visible-sm">
          			[[pdomenu? &parents=`0` &level=`1`]]
        			</div><!-- /.col -->
        			<div class="mobile-footer-utility-nav col-xs-6 col-sm-6 visible-xs visible-sm">
          			[[pdomenu? &parents=`2` &level=`1`]]
        			</div><!-- /.col -->
      			</div><!-- /.row -->
    			</div><!-- /.container -->
  			</div><!-- /.main-footer -->
  			<div class="post-footer">
    			<div class="container">
    				<div class="row">
    					<div class="col-xs-12">
    						<div class="pull-left">
      						<p>&copy; [[thisYear]] [[++site_name]] (NMFH)</p>
            			<p>All Rights Reserved</p>
            			<p><a href="[[~37]]">Privacy Policy</a></p>
            			<p><a href="[[~39]]">Shipping Policy</a></p>
    						</div><!-- /.pull-left -->
          			<p class="designed-by">Site Designed by <a href="http://keystoneresources.com" target="_blank">Keystone Resources</a></p>
    					</div><!-- /.col -->
    				</div><!-- /.row -->
    			</div><!-- /.container --> 
  			</div><!-- /.post-footer -->
			</footer>
		</div><!--/#content_container-->
    [[$scripts]]
	</body>
</html>