<p>
  <b>Group/individual requesting facility rental:</b> [[+requestor]] <br/>
  <b>Contact Person:</b> [[+contactperson]] <br/>
  <b>Work Phone:</b> [[+workphone]] <br/>
  <b>Cell Phone:</b> [[+cellphone]] <br/>
  <b>Email Address:</b> [[+email]] <br/>
  <b>Mailing Address:</b> [[+address]] <br/>
  <b>Type of Event:</b> [[+eventtype]] <br/>
  <b>Expected number of people:</b> [[+attendancenumber]] <br/> 
  <b>Date(s) & Time(s):</b> [[+datetime]] <br/> 
  <b>Day prior access to facility needed?:</b> [[+dayprior]] <br/> 
  <b>Rooms/Locations:</b> [[+locations]] <br/> 
  <b>List in Detail All Equipment Required:</b> [[+requiredequipment]] <br/> 
  <b>Special Needs or Requests:</b> [[+specialneeds]] <br/> 
</p>