[[+idx:mod=`4`:is=`1`:then=`
  <tr>
`]]
  <td class="members">
    <div class="image-block bio members">
      <img src="[[+image]]" title="[[+imageTitle:default=`[[+name]]`]]" alt="[[+imageAlt:default=`[[+name]]`]]" />
      <div class="image-block-content">
        <p>[[+name]]</p>
        <p class="line2">[[+title]]</p>
      </div><!-- /.image-block-content -->
    </div><!-- /.members -->
  </td>
[[+_last:is=`1`:then=`</tr>`:else=`
  [[+idx:mod=`4`:is=`0`:then=`
    </tr>
  `]]
`]]