<div class="snap-drawers">
  <div class="snap-drawer snap-drawer-left">
      <div class="drawer_container">
        <nav class="utility">[[pdomenu? &parents=`2` &level=`1`]]
          <div class="mini-cart" data-fc-id="minicart">
            <a href="https://nmfh.foxycart.com/cart?cart=view">View Cart (<span data-fc-id="minicart-quantity">0</span>)</a>
          </div><!-- /.mini-cart -->
        </nav>
        <nav class="parent">[[pdomenu? &parents=`0` &level=`2` &hideSubMenus=`1` &hereClass=`here` &selfClass=`active`]]</nav>
      </div><!--/.drawer_container -->
  </div><!--/.snap-drawer left --> 
</div><!--/.snap-drawers --> 

<div id="content_container">
	<header>
  	<div class="utility-bar">
    	<div class="container">
      	<div class="row">
        	<div class="visible-sm visible-xs col-xs-2 col-sm-2">
          	<div class="snap-trigger-left"><span class="menu-icon"></span></div>
        	</div>
        	<div class="search col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-4 col-ms-3 col-ms-offset-0 col-md-3 col-md-offset-0">
          	[[!SimpleSearchForm? &tpl=`ss-tpl-form` &landing=`36`]]
        	</div><!-- /.col -->
          <div class="col-sm-9 hidden-xs hidden-sm">
            <div class="utility-nav">
            	[[pdomenu? &parents=`2` &level=`1`]]
            	<div class="mini-cart" data-fc-id="minicart">
                <a href="https://nmfh.foxycart.com/cart?cart=view">View Cart (<span data-fc-id="minicart-quantity">0</span>)</a>
              </div><!-- /.mini-cart -->
          	</div><!-- /.utility-nav -->
          </div><!-- /.col -->
      	</div><!-- /.row -->
    	</div><!-- /.container -->
  	</div><!-- /.utility-nav -->
  	<div class="main-header">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-12 col-ms-3 col-md-3">
    				<div class="logo">
          		<a href="[[~1]]">
                <!-- NMFH LOGOS -->
        				<img class="hidden-xs hidden-sm" src="/assets/img/images/Logos/nmfh-reg.jpg" title="[[++site_name]] Logo" />
        				<img class="visible-xs visible-sm" style="margin: 0 auto;" src="/assets/img/images/Logos/nmfh-reg-mobile.jpg" title="[[++site_name]] Logo" />
          		</a>
    				</div><!-- /.logo -->
    			</div><!-- /.col -->
    			<div class="parent-nav col-ms-3 col-md-3 hidden-xs hidden-sm">
      			[[pdomenu? &parents=`0` &level=`1`]]
      			<a href="[[~14]]" class="btn btn-yellow">Tickets</a><br />
      			[[++header_button_2]]<br />
            [[++header_button_3]]

    			</div><!-- /.col -->
    			<div class="columnize child-nav col-sm-12 col-ms-6 col-md-6">
      			[[pdomenu:default=`[[++header_cta]]`? &level=`1` &parents=`[[UltimateParent]]` &sortBy=`[[UltimateParent:is=`11`:then=`pagetitle`:else=`menuindex`]]` &outerClass=`hidden-xs hidden-sm`]]
    			</div><!-- /.col -->
    		</div><!-- /.row -->
    	</div><!-- /.container -->
  	</div><!-- /.main-header -->
	[[*template:is=`2`:or:is=`8`:or:is=`9`:then=`
	  <div class="grandchild-nav">
  	  <div class="container">
    	  <div class="row">
      	  <div class="col-xs-12">
        	  [[*template:is=`9`:then=`<h1>Calendar</h1>`:else=`<h1>[[*pagetitle]]</h1>`]]
      	  </div><!-- /.col -->
    	  </div><!-- /.row -->
  	  </div><!-- /.container -->
	  </div><!-- /.grandchild-nav -->
	`:else=``]]
	[[*id:is=`27`:then=`
		[[*introtext:isnt=``:then=`
			<div class="grandchild-nav hidden-xs hidden-sm">
    	  <div class="container">
      	  <div class="row">
        	  <div class="col-xs-12">
        	    <h3>[[*introtext]]</h3>
            </div><!-- /.col -->
      	  </div><!-- /.row -->
    	  </div><!-- /.container -->
  	  </div><!-- /.grandchild-nav -->
		`]]
	
`]]

	[[!UltimateParent:isnot=`[[*id]]`:and:isnot=`4`:and:isnot=`11`:then=`
	  [[*template:is=`10`:then=``:else=`
	    <div class="grandchild-nav hidden-xs hidden-sm">
    	  <div class="container">
      	  <div class="row">
        	  <div class="col-xs-12">
        	    [[pdomenu? &level=`1` &parents=`[[UltimateParent? &topLevel=`3`]]` &outerClass=`hidden-xs hidden-sm`]]
            </div><!-- /.col -->
      	  </div><!-- /.row -->
    	  </div><!-- /.container -->
  	  </div><!-- /.grandchild-nav -->
	  `]]      	  
	`:else=``? &topLevel=`3`]]
	
		
	</header>