<h2>One-Time Donation:</h2>
<form class="form" action="https://nmfh.foxycart.com/cart" method="post" accept-charset="utf-8" id="donation-tribute">
  <input type="hidden" name="[[!hmacVerification? &var_name=`name` &var_value=`Donation - Tribute` &var_code=`donationTribute`]]" value="Donation - Tribute" />
  <input type="hidden" name="[[!hmacVerification? &var_name=`code` &var_value=`donationTribute` &var_code=`donationTribute`]]" value="donationTribute" />
  <input type="hidden" name="[[!hmacVerification? &var_name=`category` &var_value=`DONATION` &var_code=`donationTribute`]]" value="DONATION" />
 <div class="row">
    <div class="form-group col-xs-12 col-ms-4 col-md-2">
      <label for="price">Amount</label>
      <input class="form-control" type="number" name="[[!hmacVerification? &var_name=`price` &var_value=`--OPEN--` &var_code=`donationTribute`]]" required/>
    </div><!-- /.form-group -->
    <div class="form-group col-xs-12 col-ms-6 col-md-4">
      <label for="exhibit">Contribute to a specific exhibit?</label>
      <select name="exhibit" class="form-control">
        <option value="[[!hmacVerification? &var_name=`exhibit` &var_value=`none` &var_code=`donationTribute` &for_value=`true`]]">None</option>
        [[!getResources?
          &parents=`19`
          &tpl=`gr-tpl-donate-exhibit-tribute`
          &limit=`0`
          &depth=`1`
        ]]
      </select>
    </div><!-- /.form-group -->
  </div><!-- /.row -->
  <div class="row">
    <div class="form-group col-xs-12 col-ms-8 col-md-6">
      <label for="tribute">This memorial tribute gift is in honor of:</label>
      <input class="form-control" type="text" name="[[!hmacVerification? &var_name=`tribute` &var_value=`--OPEN--` &var_code=`donationTribute`]]" />
    </div><!-- /.form-group -->
  </div><!-- /.row -->
  <input type="submit" class="btn" value="Add to Cart" />
</form>
<br><br>
<h2>Recurring Donation:</h2>
<form class="form form-vertical" action="https://nmfh.foxycart.com/cart" method="post" accept-charset="utf-8">
  <input type="hidden" name="[[!hmacVerification? &var_name=`name` &var_value=`Recurring Donation - Tribute` &var_code=`recurringDonationTribute`]]" value="Recurring Donation - Tribute" />
  <input type="hidden" name="[[!hmacVerification? &var_name=`code` &var_value=`recurringDonationTribute` &var_code=`recurringDonationTribute`]]" value="recurringDonationTribute" />
  <input type="hidden" name="[[!hmacVerification? &var_name=`category` &var_value=`DONATION` &var_code=`recurringDonationTribute`]]" value="DONATION" />
  <input type="hidden" name="[[!hmacVerification? &var_name=`sub_frequency` &var_value=`1m` &var_code=`recurringDonationTribute`]]" value="1m" />

  <div class="row">  
    <div class="form-group col-xs-12">
      <label>Amount</label>
      <div class="clearfix"></div>
      <div class="btn-group" role="group">
        [[!getImageList:default=``? 
          &tvname=`MIGX_recurring_donation`
          &tpl=`migx-tpl-recurring-donation`
          &docid=`24`
        ]]
        <button type="button" id="price-other" class="price-button btn btn-default btn-green" data-price="other">Other</button>  
      </div><!-- /.btn-group -->
    </div><!-- /.form-group -->
    <div class="form-group col-xs-12 col-ms-4 col-md-2">
      <input id="recurring-price" class="form-control" type="number" name="[[!hmacVerification? &var_name=`price` &var_value=`--OPEN--` &var_code=`recurringDonationTribute`]]" required/>
    </div><!-- /.form-group -->
  </div><!-- /.row -->

  <div class="row">  
    <div class="form-group col-xs-12 col-ms-4 col-md-2">
      <label for="sub_frequency">Frequency</label>
      <select name="sub_frequency" class="form-control">
        <option value="[[!hmacVerification? &var_name=`sub_frequency` &var_value=`1m` &var_code=`recurringDonationTribute` &for_value=`true`]]">Monthly</option>
        <option value="[[!hmacVerification? &var_name=`sub_frequency` &var_value=`1y` &var_code=`recurringDonationTribute` &for_value=`true`]]">Annually</option>
      </select>
    </div><!-- /.form-group -->
  </div><!-- /.row -->
  
  <div class="row">
    <div class="form-group col-xs-12 col-ms-4 col-md-2">
      <label for="sub_enddate">End Date</label>
      <input id="end-date" type="text" class="form-control" name="[[!hmacVerification? &var_name=`sub_enddate` &var_value=`--OPEN--` &var_code=`recurringDonationTribute`]]" />
      <div id="enddatepicker"></div>
    </div><!-- /.form-group -->
  </div><!-- /.row -->
  
  <div class="row">
    <div class="form-group col-xs-12 col-ms-8 col-md-4">
      <label for="exhibit-recurring">Contribute to a specific exhibit?</label>
      <select name="exhibit-recurring" class="form-control">
        <option value="[[!hmacVerification? &var_name=`exhibit-recurring` &var_value=`none` &var_code=`recurringDonationTribute` &for_value=`true`]]">None</option>
        [[!getResources?
          &parents=`19`
          &tpl=`gr-tpl-donate-exhibit-recurring-tribute`
          &limit=`0`
          &depth=`1`
        ]]
      </select>
    </div><!-- /.form-group -->
  </div><!-- /.row -->
  
  <div class="row">
    <div class="form-group col-xs-12 col-ms-8 col-md-6">
      <label for="tribute">This memorial tribute gift is in honor of:</label>
      <input class="form-control" type="text" name="[[!hmacVerification? &var_name=`tribute-recurring` &var_value=`--OPEN--` &var_code=`recurringDonationTribute`]]" />
    </div><!-- /.form-group -->
  </div><!-- /.row -->
  
  <input type="submit" class="btn" value="Add to Cart" />
</form>