<div class="slide slide-[[+idx]]">
  <img src="[[+image]]"  title="[[+imageTitle:default=`[[+header]]`]]" alt="[[+imageAlt:default=`[[+header]]`]]" />
  <span class="text-wrapper">
    <i class="landau"></i>
    <h2>[[+header]]</h2>
    <p>[[+description]]</p>
    [[+link:isnt=``:then=`
	    <a href="[[+link]]" class="btn btn-green" title="[[+linkTitle:default=`[[+header]]`]]" [[+linkTarget:is=`1`:then=`target="_blank"`]]>[[+button]]</a>
    `]]
  </span><!-- /.text-wrapper -->
</div><!-- /.slide -->