<td>
  <a class="image-block" href="[[+link]]" title="[[+linkTitle:default=`[[+buttonText]]`]]">
    <img src="[[+image]]" title="[[+imageTitle:default=`[[+buttonText]]`]]" alt="[[+imageAlt:default=`[[+buttonText]]`]]" />
    <div class="image-block-content">
      <p>[[+buttonText]]</p>
    </div><!-- /.image-block-content -->
  </a>
  <div class="overlay">
    <a title="[[+tv.link_title:default=`[[+alias]]`]]" href="[[+link]]">
      <p class="title">[[+buttonText]]</p>
      <p class="description">[[+summary:ellipsis=`190`]]</p>
    </a>
  </div><!-- /.overlay -->
</td>