<div class="cta-block col-sm-4">
  <h3>[[+header]]</h3>
  <p>[[+content:ellipsis=`190`]]</p>
  <a href="[[+link]]" class="btn btn-green pull-right" title="[[+linkTitle:default=`[[+header]]`]]">[[+buttonText]]</a>
</div><!-- /.col -->