[[+image:notempty=`
  <img src="[[+image:phpthumbof=`w=220&h=170&zc=1`]]" title="[[+imageTitle]]" alt="[[+imageAlt]]" />
`]]
<p><b>[[+header]]</b></p>
[[+description]]
<a href="[[+link]]" class="btn btn-green pull-right" title="[[+linkTitle]]">[[+button:default=`Read More`]]</a>