<div class="slide slide-[[+idx]]" data-cycle-title="[[+title:notempty=`<p>[[+title]]</p>`:default=`<p class='empty'>&nbsp;</p>`]]">
  <img src="[[+image]]"
    [[+imageTitle:notempty=`title="[[+imageTitle]]"`]]
    [[+imageAlt:notempty=`alt="[[+imageAlt]]"`]]
  />
</div>