<div class="row">
  <div class="col-xs-12">
    <input type="hidden" name="[[+idx]]:[[!hmacVerification? &var_name=`name` &var_value=`Tickets - [[+description]]` &var_code=`tickets[[+idx]]`]]" value="Tickets - [[+description]]" />

    <input type="hidden" name="[[+idx]]:[[!hmacVerification? &var_name=`price` &var_value=`[[+price]]` &var_code=`tickets[[+idx]]`]]" value="[[+price]]" />

    <input type="hidden" name="[[+idx]]:[[!hmacVerification? &var_name=`code` &var_value=`tickets[[+idx]]` &var_code=`tickets[[+idx]]`]]" value="tickets[[+idx]]" />
    
<input type="hidden" name="[[+idx]]:[[!hmacVerification? &var_name=`category` &var_value=`TICKETS` &var_code=`tickets[[+idx]]`]]" value="TICKETS" />

    [[+_last:is=`1`:then=`
      <div class="col-xs-3 col-sm-2">
        <label for="quantity">Quantity</label>
        <input type="hidden" name="[[+idx]]:[[!hmacVerification? &var_name=`quantity_min` &var_value=`25` &var_code=`tickets[[+idx]]`]]" value="25" />

        <input class="form-control" type="number" name="[[+idx]]:[[!hmacVerification? &var_name=`quantity` &var_value=`--OPEN--` &var_code=`tickets[[+idx]]`]]" value="0"/>
      </div>
    `:else=`
      <div class="col-xs-3 col-sm-2">
        <label for="quantity">Quantity</label>
        <input class="form-control" type="number" name="[[+idx]]:[[!hmacVerification? &var_name=`quantity` &var_value=`--OPEN--` &var_code=`tickets[[+idx]]`]]" value="0"/>
      </div>
    `]]
    <div class="form-group">
      <label for="price">Type</label>
      <p>$[[+price]] - [[+description]]</p>
    </div><!-- /.form-group -->
    <br><br>
  </div><!-- /.col -->
</div><!-- /.row -->