<img src="[[+tv.thumb]]" title="[[+tv.image_title:default=`[[+pagetitle]]`]]" alt="[[+tv.image_alt:default=`[[+pagetitle]]`]]" />
<p>[[+tv.thumb_content]]</p>
<a href="[[~[[+id]]]]" class="btn btn-green pull-right" title="[[+tv.link_title:default=`[[+pagetitle]]`]]">View More</a>