[[+idx:mod=`4`:is=`1`:then=`
  <tr>
`]]
  <td [[+total:is=`1`:or:is=`2`:then=`class="pull-left"`]] class="td-[[+idx:mod=`2`]]">
    <a class="image-block" href="index.php?id=[[+id]]" title="[[+tv.product_link_title:default=`[[+alias]]`]]">
      <img src="[[+tv.product_main_image:default=`/assets/img/images/products/placeholder/shop-img-placeholder_300x300.jpg`]]" title="[[+tv.product_main_image_title:default=`[[+alias]]`]]" alt="[[+tv.product_main_image_alt:default=`[[+alias]]`]]" />
      <div class="image-block-content">
        <p>[[+pagetitle]]</p>
      </div><!-- /.image-block-content -->
    </a>
    <div class="overlay">
      <a title="[[+tv.link_title:default=`[[+alias]]`]]" href="[[~[[+id]]]]">
        <p class="title">[[+pagetitle]]</p>
        <p class="description">[[+tv.thumb_content:ellipsis=`150`]]</p>
      </a>
    </div><!-- /.overlay -->
  </td>
</tr>