[[+idx:mod=`2`:is=`1`:then=`
  <tr>
`]]
  <td class="calendar-block"
      data-date-start="[[+tv.cal_start_date:strtotime]]" 
      data-date-end="[[+tv.cal_end_date:strtotime]]" 
      data-category="[[+tv.cal_category]]"
    >
    <a class="image-block cal" href="index.php?id=[[+id]]" title="[[+tv.link_title:default=`[[+alias]]`]]">
      <img src="[[+tv.thumb:phpthumbof=`w=300&h=240&zc=1`:default=`https://placeholdit.imgix.net/~text?txtsize=32&txt=Image+Not+Available&w=300&h=240`]]" title="[[+tv.image_title:default=`[[+alias]]`]]" alt="[[+tv.image_alt:default=`[[+alias]]`]]" />
      <div class="image-block-content">
        <p>[[+pagetitle]]</p>
        <p class="line2">
          Start: [[+tv.cal_start_date:strtotime:date=`%B %d, %Y @ %l:%M %p`]]<br>
          End: [[+tv.cal_end_date:strtotime:date=`%B %d, %Y @ %l:%M %p`]]
        </p>
        [[+tv.cal_category:is=``:then=``:else=`<p class="line2">Category: [[+tv.cal_category]]</p>`]]
      </div><!-- /.image-block-content -->
    </a>
  </td>
</tr>