<form class="form-inline" action="https://nmfh.foxycart.com/cart" method="post" accept-charset="utf-8">
[[!getImageList? 
  &tvname=`MIGX_purchase_tickets`
  &tpl=`migx-tpl-tickets`
]]
  <div class="clearfix"><br></div>
  <input type="submit" class="btn" value="Add to Cart" />
</form>