<div class="calendar-block col-xs-12"
  data-date-start="[[+tv.cal_start_date:strtotime]]" 
  data-date-end="[[+tv.cal_end_date:strtotime]]" 
  data-category="[[+tv.cal_category]]"
>
    <div class="row">
      <a class="image-block cal col-sm-6" href="[[~[[+id]]]]" title="[[+tv.link_title:default=`[[+alias]]`]]">
        <img src="[[+tv.thumb:phpthumbof=`w=300&h=240&zc=1`:default=`https://placeholdit.imgix.net/~text?txtsize=32&txt=Image+Not+Available&w=300&h=240`]]" title="[[+tv.image_title:default=`[[+alias]]`]]" alt="[[+tv.image_alt:default=`[[+alias]]`]]" />
      </a>
      <div class="image-block-content-horiz col-sm-6">
        <h3><a href="[[~[[+id]]]]" title="[[+tv.link_title:default=`[[+alias]]`]]">[[+pagetitle]]</a></h3>
        <p class="line2">
          <b>Start:</b> [[+tv.cal_start_date:strtotime:date=`%B %d, %Y @ %l:%M %p`]]<br>
          <b>End:</b> [[+tv.cal_end_date:strtotime:date=`%B %d, %Y @ %l:%M %p`]]
          [[+tv.cal_category:is=``:then=``:else=`<br><b>Category:</b> [[getPagetitles? &aliasArray=`[[+tv.cal_category]]`]]`]]
        </p>
        <p>[[+introtext]]</p>
      </div><!-- /.image-block-content-horiz -->
    </div><!-- /.row -->
</div><!-- /.calendar-block-horiz -->