<div class="sidebar col-xs-12 col-sm-8 col-ms-4 col-md-4">
	<ul>
  	<li>
  	  <a href="[[~14]]">[[pdoField? id=`14`]]</a>
  	</li>
  	<li>
  	  <a href="[[~10]]">[[pdoField? id=`10`]]</a>
  	</li>
  	<li>
  	  <a href="[[~11]]">[[pdoField? id=`11`]]</a>
  	</li>
	</ul>
	<div class="sb-cta">
  	<h3>Upcoming Event</h3>
  	[[!getImageList?
      &tvname=`MIGX_sidebar_events`
      &tpl=`migx-tpl-sidebar-events`
      &docid=`1`
      &limit=`1`
      &randomize=`1`
    ]]
	</div><!-- /.sb-cta -->
	<div class="sb-cta last">
  	<h3>Special Exhibit</h3>
  	[[!getImageList?
      &tvname=`MIGX_sidebar_exhibits`
      &tpl=`migx-tpl-sidebar-exhibits`
      &docid=`1`
      &limit=`1`
      &randomize=`1`
    ]]
	</div><!-- /.sb-cta -->
</div><!-- /.col.sidebar -->