<form class="sisea-search-form" action="[[~[[+landing:default=`[[*id]]`]]]]" method="[[+method:default=`get`]]">
    <div class="input-group">
      <input type="text" name="[[+searchIndex]]" id="[[+searchIndex]]" class="form-control" placeholder="Search" value="[[+searchValue]]" />
      <input type="hidden" name="id" value="[[+landing:default=[[*id]]]]" /> 
      <span class="input-group-btn">
        <input type="submit" value="&nbsp;" class="btn btn-default" />
      </span>
    </div><!-- /input-group -->
</form>
