[[$head]]
[[$header]]
<div class="container">
	<div class="row">
  	<div class="child-content col-xs-12 col-sm-12 col-ms-8 col-md-8">
    	[[*template:isnot=`9`:then=`
    	  <div class="row visible-xs visible-sm">
          <div class="col-xs-12">
            <div class="breadcrumbs">
              [[pdoCrumbs? &outputSeparator=``]]
            </div><!-- /.breadcrumbs -->
          </div><!-- /.col -->
        </div><!-- /.row -->
    	`:else=``]]
      <div class="row">
        <a href="[[~4]]" class="btn btn-green pull-right back">Back</a>
        <div class="col-sm-10">
          <h1>[[*pagetitle]]</h1>
          <h3 class="event_time"><b>Start time:</b> [[*cal_start_date:strtotime:date=`%B %d, %Y @ %l:%M %p`]]</h3>
          <h3 class="event_time"><b>End time:</b> [[*cal_end_date:strtotime:date=`%B %d, %Y @ %l:%M %p`]]</h3>
        </div>
      </div><!-- /.row -->
      
      [[!getImageList:notempty=`
      	<div class="row">
      	  <div class="slideshow-container col-xs-12">
          	<div id="prev" class="slide-controler"></div>
            <div id="next" class="slide-controler"></div>
          	<div class="cycle-slideshow" 
              data-cycle-fx="scrollHorz" 
              data-cycle-timeout="8000"
              data-cycle-slides="> div"
              data-cycle-pager="#pager"
              data-cycle-pager-template="<span class=pager-link><a href=# class=text-hide>{{slideNum}}</a></span>"
              data-cycle-center-horz=true
              data-cycle-auto-height="calc"
              data-cycle-prev="#prev"
              data-cycle-next="#next"
              data-cycle-caption="#image-caption"
              data-cycle-caption-template="{{cycleTitle}}"
            >
    	`? &tvname=`MIGX_slideshow`]]
      	[[!getImageList:default=``? 
          &tvname=`MIGX_slideshow`
          &tpl=`migx-tpl-slideshow`
        ]]
        [[!getImageList:notempty=`
      	    </div><!-- /.cycle-slideshow -->
      	    <div id="pager"></div>
      	    <div id="image-caption"></div>
        	</div><!-- /.col -->
      	</div><!-- /.row -->
    	`? &tvname=`MIGX_slideshow`]]
      
    	[[*content]]
    	
    	<div class="row">
      	<div class="col-xs-12 share">
          <div class="addthis_sharing_toolbox"></div>
      	</div><!-- /.col -->
    	</div>
  	</div><!-- /.col -->
  	[[$sidebar]]
	</div><!-- /.row -->
</div><!--/.container-->
[[$footer]]