[[$head]]
[[$header]]
<div class="container">
  [[*content:notempty=`<div class="row"><div class="parent-content col-xs-12">[[*content]]</div></div>`:default=``]]
	<div class="row">
  	<div class="col-xs-12">
    	<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
  	</div><!-- /.col -->
	</div><!-- /.row -->
	<div class="row">
  	<table class="equal-height-container">
    	[[!pdoResources? 
        &limit=`0`
        &depth=`0`
        &includeTVs=`thumb`
        &prepareTVs=`1`
        &showHidden=`0`
        &sortby=`menuindex`
        &sortdir=`ASC`
        &tpl=`pr-tpl-board-block`
        &tplLast=`pr-tpl-board-block-last`
      ]]
  	</table>
	</div><!-- /.row -->
	<div class="clearfix"></div>
	<hr class="landau" />
</div><!--/.container-->
[[$footer]]

<!--
&tpl=`@CODE
        <div class="col-sm-3">
          <a class="image-block bio" href="index.php?id=[[+id]]">
            <img src="[[+tv.thumb]]" title="[[+pagetitle]]" />
            <p>[[+pagetitle]]</p>
            <p class="title">[[+longtitle]]</p>
          </a>
        </div>`
      &tpl_n4=`@CODE
        <div class="col-sm-3">
          <a class="image-block bio" href="index.php?id=[[+id]]">
            <img src="[[+tv.thumb]]" title="[[+pagetitle]]" />
            <p>[[+pagetitle]]</p>
            <p class="title">[[*longtitle]]</p>
          </a>
        </div>
        <div class="clearfix"></div>`
-->
