[[$head]]
[[$header]]
<div class="container">
  [[*content:notempty=`<div class="row"><div class="parent-content col-xs-12">[[*content]]</div></div>`:default=``]]
	<div class="row">
  	<table class="equal-height-container">
  	  [[!pdoResources? 
        &limit=`0`
        &depth=`0`
        &includeTVs=`product_main_image,product_link_title,product_main_image_title,product_main_image_alt`
        &prepareTVs=`1`
        &showHidden=`0`
        &sortby=`menuindex`
        &sortdir=`ASC`
        &tpl=`pr-tpl-product-block-external`
        &tplLast=`pr-tpl-product-block-last-external`
      ]]
  	</table>
	</div><!-- /.row -->
	<div class="row">
  	[[!getImageList:notempty=`
  	  <div class="col-xs-12">
      	<div class="parent-cta">&nbsp;</div>
    	</div><!-- /.col -->
  	`? &tvname=`MIGX_parent_cta`]]
  	[[!getImageList? 
      &tvname=`MIGX_parent_cta`
      &limit=`3`
      &tpl=`migx-tpl-parent-cta`
    ]]
	</div><!-- /.row -->
	<hr class="landau" />
</div><!--/.container-->
[[$footer]]