[[$head]]
[[$header]]
<div class="container">
	<div class="row">
  	<div class="child-content col-xs-12 col-sm-12 col-ms-8 col-md-8">
    	<div class="row visible-xs visible-sm [[getDepth:is=`4`:then=`visible-lg visible-xl`]]">
        <div class="col-xs-12">
          <div class="breadcrumbs">
            [[pdoCrumbs? &outputSeparator=``]]
          </div><!-- /.breadcrumbs -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    	<h1>[[*pagetitle]]</h1>
    	
    	[[!getImageList:notempty=`
    	<div class="row">
    	  <div class="slideshow-container col-xs-12">
        	<div id="prev" class="slide-controler"></div>
          <div id="next" class="slide-controler"></div>
        	<div class="cycle-slideshow"
            data-cycle-fx="scrollHorz" 
            data-cycle-timeout="8000"
            data-cycle-slides="> div"
            data-cycle-pager="#pager"
            data-cycle-pager-template="<span class=pager-link><a href=# class=text-hide>{{slideNum}}</a></span>"
            data-cycle-center-horz=true
            data-cycle-auto-height="calc"
            data-cycle-prev="#prev"
            data-cycle-next="#next"
            data-cycle-caption="#image-caption"
            data-cycle-caption-template="{{cycleTitle}}"
          >
  	`? &tvname=`MIGX_slideshow`]]
    	[[!getImageList:default=``? 
        &tvname=`MIGX_slideshow`
        &tpl=`migx-tpl-slideshow`
        &limit=`0`
      ]]
      [[!getImageList:notempty=`
    	    </div><!-- /.cycle-slideshow -->
    	    <div id="pager"></div>
    	    <div id="image-caption"></div>
      	</div><!-- /.col -->
    	</div><!-- /.row -->
  	`? &tvname=`MIGX_slideshow`]]
  	
    	[[*content]]
      
      [[*parent:is=`19`:or:is=`20`:then=`
        <div class="row">
        	<div class="col-xs-12 share">
            <div class="addthis_sharing_toolbox"></div>
        	</div><!-- /.col -->
      	</div><!-- /.row -->
      `]]
      
  	</div><!-- /.col -->
  	[[$sidebar]]
	</div><!-- /.row -->
</div><!--/.container-->
[[$footer]]