[[$head]]
[[$header]]
<div class="container">
  [[*content:notempty=`<div class="row"><div class="parent-content col-xs-12">[[*content]]</div></div>`:default=``]]
	<div class="row">
  	<div class="sidebar calendar col-xs-12 col-sm-12 col-ms-4 col-ms-push-8 col-md-4 col-md-push-8">
    	<ul>
      	<li>
      	  <a class="month" href="[[~[[*id]]]]#month">Upcoming Month</a>
      	</li>
      	<li>
      	  <a class="week" href="[[~[[*id]]]]#week">Upcoming Week</a>
      	</li>
<!--
      	<li class="datepicker-list">
      	  <a id="day" href="#">Pick A Day</a>
      	  <div class="datepicker-container hidden">
        	  <div id="datepicker"></div>
      	  </div>
      	</li>
-->
      	<li>
      	  <a class="all" href="[[~[[*id]]]]#all">View All Events</a>
      	</li>
      	<li><p>Categories</p></li>
    	</ul>
    	[[pdomenu? &level=`1` &parents=`59` &showHidden=`1` &outerClass=`categories` &tpl=`@CODE <li><a href="u/calendar/#cat" class="cat-filter" data-cat-filter="[[+alias]]">[[+pagetitle]]</a></li>`]]
  	</div><!-- /.col.sidebar -->
  	
  	<div class="col-xs-12 col-sm-12 col-ms-8 col-ms-pull-4 col-md-8 col-md-pull-4">
    	<h2 id="calendar-title"
      	data-title-month="Events This Month"
      	data-title-week="Events This Week"
      	data-title-day="Events for [[!getDate:date=`%B %d, %Y`]]"
      	data-title-all="All Events">All Events</h2>
      <div id="no-events" class="hidden"><p>There are no events to display</p></div>
    	<div class="row">
      	[[!pdoResources? 
          &limit=`0`
          &showHidden=`0`
          &depth=`2`
          &templates=`9`
          &includeTVs=`thumb,link_title,image_title,image_alt,cal_start_date,cal_end_date,cal_category`
          &prepareTVs=`1`
          &processTVs=`1`
          &sortby=`cal_start_date`
          &sortdir=`ASC`
          &tpl=`pr-tpl-calendar-block-horiz`
        ]]
    	</div><!-- /.row -->
  	</div><!-- /.col -->
  	
	</div><!-- /.row -->
	<hr class="landau" />
</div><!--/.container-->
[[$footer]]