[[$head]]
[[$header]]
<div class="container">
	<div class="row">
		<div class="col-lg-12">
  		<div id="pager"></div>
  		<div class="cycle-slideshow" 
      data-cycle-fx="scrollHorz" 
      data-cycle-timeout="15000"
      data-cycle-slides="> div"
      data-cycle-pager="#pager"
      data-cycle-pager-template="<span class=pager-link><a href=# class=text-hide>{{slideNum}}</a></span>"
      data-cycle-center-horz=true
      data-cycle-auto-height=container
      >
      [[getImageList? 
        &tvname=`MIGX_homepage_slider`
        &tpl=`migx-tpl-home-slider`
      ]]
      </div><!-- /.cycle-slideshow -->
		</div><!--/.col12-->
	</div><!--/.row-->
	<div class="row">
    <table class="equal-height-container">
    	[[getImageList? 
        &tvname=`MIGX_homepage_cta`
        &limit=`3`
        &tpl=`migx-tpl-home-cta`
      ]]
    </table>
	</div><!-- /.row -->
	<hr class="landau" />
</div><!--/.container-->
[[$footer]]