[[$head]]
[[$header]]
<div class="container">
  [[*content:notempty=`<div class="row"><div class="parent-content col-xs-12">[[*content]]</div></div>`:default=``]]
	<div class="row">
  	<div class="col-xs-12">
    	<h1>Board of Directors</h1>
  	</div><!-- /.col -->
	</div><!-- /.row -->
	<div class="row">
  	<table class="equal-height-container">
      [[!pdoResources? 
        &limit=`0`
        &depth=`0`
        &showHidden=`0`
        &includeTVs=`thumb,link_title,image_title,image_alt`
        &prepareTVs=`1`
        &sortby=`menuindex`
        &sortdir=`ASC`
        &tpl=`pr-tpl-board-block`
        &tplLast=`pr-tpl-board-block-last`
      ]]
  	</table>
	</div><!-- /.row -->
	<div class="row">
  	<div class="col-xs-12">
    	<h2>Board Members</h2>
  	</div><!-- /.col -->
	</div><!-- /.row -->
	<div class="row">
  	<div class="col-xs-12">
    	[[*extra_content]]
  	</div>
<!--
  	<table class="equal-height-container">
    	[[-!getImageList? 
        &tvname=`MIGX_about_board_members`
        &limit=`0`
        &tpl=`gil-tpl-staff-block`
      ]]
  	</table>
-->
	</div><!-- /.row -->	
	<hr class="landau" />
</div><!--/.container-->
[[$footer]]