[[$head]]
[[$header]]
<div class="container">
	<div class="row">
  	<div class="child-content col-xs-12 col-sm-12 col-ms-8 col-md-8">
    	<div class="row">
        <div class="col-xs-12">
          <div class="breadcrumbs">
            [[pdoCrumbs? &outputSeparator=``]]
          </div><!-- /.breadcrumbs -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    	<div class="row">
      	<div class="col-xs-12">
        	<h1>[[*pagetitle]]</h1>
      	</div><!-- /.col -->
    	</div><!-- /.row -->
    	<div class="row">
      	<div class="product-thumb col-xs-12 col-sm-12 col-ms-6 col-md-6">
        	<img class="pull-left full" src="[[*product_main_image]]" />
      	</div><!-- /.product-thumb -->
        <div class="product-info col-xs-12 col-sm-12 col-ms-6 col-md-6">
          <p>
            <b>Item # [[*product_code]]</b><br>
            <b>[[*product_price]]</b><br><br>
            <b>Product Description:</b>
          </p>
          [[*content]]
          <form action="https://nmfh.foxycart.com/cart" method="post" accept-charset="utf-8">
            <input type="hidden" name="[[!hmacVerification? &var_name=`name` &var_value=`[[*alias]]` &var_code=`[[*product_code]]`]]" value="[[*alias]]" />
            <input type="hidden" name="[[!hmacVerification? &var_name=`price` &var_value=`[[*product_price]]` &var_code=`[[*product_code]]`]]" value="[[*product_price]]" />
            <input type="hidden" name="[[!hmacVerification? &var_name=`code` &var_value=`[[*product_code]]` &var_code=`[[*product_code]]`]]" value="[[*product_code]]" />
            <input type="hidden" name="[[!hmacVerification? &var_name=`category` &var_value=`SHIRTS` &var_code=`[[*product_code]]`]]" value="SHIRTS" />
            [[*product_options_title:notempty=`
              <label for="[[*product_options_title]]">[[*product_options_title]]: </label>
          	`]]
          	[[*product_options:notempty=`
          	  <select name="[[*product_options_title]]">
            	  [[csvToOptions? &csv=`[[*product_options]]` &var_name=`[[*product_options_title]]` &var_code=`[[*product_code]]`]]
          	  </select>
          	`]]
          	[[*product_options_2_title:notempty=`
              <label for="[[*product_options_2_title]]">[[*product_options_2_title]]: </label>
          	`]]
          	[[*product_options_2:notempty=`
          	  <select name="[[*product_options_2_title]]">
            	  [[csvToOptions? &csv=`[[*product_options_2]]` &var_name=`[[*product_options_2_title]]` &var_code=`[[*product_code]]`]]
          	  </select>
          	`]]
          	<br>
          	<label for="quantity">
          	  Quantity:
            	<input type="number" name="[[!hmacVerification? &var_name=`quantity` &var_value=`--OPEN--` &var_code=`[[*product_code]]`]]" class="form-control" size="3" />
          	</label>
          	&nbsp;
            <input type="submit" value="Add to cart" class="add-to-cart btn btn-green" />
          </form>
        </div><!-- /.product-info -->
    	</div><!-- /.row -->
    	<div class="row color-swatches">
      	<h3>Color Key</h3>
      	<p>Use drop down menu to see available color choices as actual availability depends on shirt style selected.</p>
      	<div class="col-md-6">
        	<div class="row">
          	<div class="col-xs-3 swatch swatch-ecru">
            	<p>Ecru</p>
          	</div><!-- /.col  -->
          	<div class="col-xs-3 swatch swatch-blue">
            	<p>Blue</p>
          	</div><!-- /.col  -->
          	<div class="col-xs-3 swatch swatch-french-blue">
            	<p>French Blue</p>
          	</div><!-- /.col  -->
          	<div class="col-xs-3 swatch swatch-light-blue">
            	<p>Light Blue</p>
          	</div><!-- /.col  -->
        	</div><!-- /.row -->
      	</div><!-- /.col -->
      	<div class="col-md-6">
        	<div class="row">
          	<div class="col-xs-3 swatch swatch-glacier-gray">
            	<p>Glacier Gray</p>
          	</div><!-- /.col  -->
          	<div class="col-xs-3 swatch swatch-blue-wave">
            	<p>Blue Wave</p>
          	</div><!-- /.col  -->
          	<div class="col-xs-3 swatch swatch-pink">
            	<p>Chambray Pink</p>
          	</div><!-- /.col  -->
        	</div><!-- /.row -->
      	</div><!-- /.col -->
    	</div><!-- /.color-swatches -->
    	<div class="row color-swatches">
      	<div class="col-md-6">
        	<div class="row">
          	<div class="col-xs-3 swatch swatch-white">
            	<p>White</p>
          	</div><!-- /.col  -->
          	<div class="col-xs-3 swatch swatch-black">
            	<p>Black</p>
          	</div><!-- /.col  -->
        	</div><!-- /.row -->
      	</div><!-- /.col -->
    	</div><!-- /.row -->
    	<div class="row">
      	<div class="col-xs-12 shipping-disclaimer">
        	<p>[[++shipping_disclaimer]]</p>
      	</div><!-- /.col -->
    	</div>
    	<div class="row">
      	<div class="col-xs-12 share">
          <div class="addthis_sharing_toolbox"></div>
      	</div><!-- /.col -->
    	</div>
  	</div><!-- /.col -->
  	[[$sidebar]]
	</div><!-- /.row -->
</div><!--/.container-->
[[$footer]]