[[$head]]
[[$header]]
<div class="container">
  [[*content:notempty=`<div class="row"><div class="parent-content col-xs-12">[[*content]]</div></div>`:default=``]]
	<div class="row">
  	<table class="equal-height-container">
  	  [[!pdoResources? 
        &limit=`0`
        &depth=`0`
        &includeTVs=`thumb,thumb_content,link_title,image_title,image_alt`
        &prepareTVs=`1`
        &showHidden=`0`
        &sortby=`[[*id:is=`11`:then=`pagetitle`:else=`menuindex`]]`
        &sortdir=`ASC`
        &tpl=`pr-tpl-parent-block`
        &tplLast=`pr-tpl-parent-block-last`
      ]]
  	</table>
	</div><!-- /.row -->
	<div class="row">
  	[[!getImageList:notempty=`
  	  <div class="col-xs-12">
      	<div class="parent-cta">&nbsp;</div>
    	</div><!-- /.col -->
  	`? &tvname=`MIGX_parent_cta`]]
  	[[!getImageList? 
      &tvname=`MIGX_parent_cta`
      &limit=`3`
      &tpl=`migx-tpl-parent-cta`
    ]]
	</div><!-- /.row -->
	<hr class="landau" />
</div><!--/.container-->
[[$footer]]